$mobile-min-breakpoint: 576px;
$mobile-max-breakpoint: 767px;
$tablet-min-breakpoint: 768px;
$tablet-max-breakpoint: 991px;
$desktop-min-breakpoint: 992px;
$desktop-max-breakpoint: 1199px;
$large-min-desktop-breakpoint: 1200px;
$large-max-desktop-breakpoint: 1399px;
$x-large-desktop-breakpoint: 1400px;
